<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Multiple Disease Prediction</title>
  </head>
  <body style="background: #000; color: violet; text-align: center">
    <div class="container">
      <h1>Multiple Disease Prediction</h1>
      <button onclick="window.location.href='/heart'">
        Heart Disease Prediction
      </button>
      <button onclick="window.location.href='/kidney'">
        Kidney Disease Prediction
      </button>
      <button onclick="window.location.href='/diabetes'">
        Diabetes Prediction
      </button>
    </div>
  </body>
</html>
